body{
    background-color: rgb(23, 172, 3);
}

h1 h2 h3 h4 h5 p{
    color: white !important;
}
.bg-dark {
    background-color: purple !important;
}

.bd-placeholder-img#id1{
    background: url("img/blankimage1.png");
    background-size: 100% 100%;
}
.bd-placeholder-img#id2{
    background: url("img/Kundalini.png");
    background-size: 100% 100%;
}

.bd-placeholder-img#id3{
    background: url("img/Jogos.jpg");
    background-size: 100% 100%;
}

.bd-placeholder-img#id4{
    background: url("img/Reflorestamento.jpg") no-repeat;
    background-size: 100% 100%;
}

.bd-placeholder-img#id5{
    background: url("img/Logo.png");
    background-size: 105% 105%;
}

.bd-placeholder-img#id6{
    background: url("img/blankimage2.png");
    background-size: 105% 105%;
}

.bd-placeholder-img#id7{
    background: url("img/Logo.png");
    background-size: 105% 105%;
}

.bd-placeholder-img#id8{
    background: url("img/AeonTempo.jpg");
    background-size: 100% 100%;
    border-radius: 50%;
}

.bd-placeholder-img#id9{
    background: url("img/BobWaterstyle.png");
    background-size: 100% 100%;
    border-radius: 50%;
}

.bd-placeholder-img#id10{
    background: url("img/AkemyBlaze.png");
    background-size: 100% 100%;
    border-radius: 50%;
}

.bd-placeholder-img#id11{
    background: url("img/AnimaVento.png");
    background-size: 100% 100%;
    border-radius: 50%;
}

.bg-light{
    background-color: green  !important;
}

.d-flex{
    justify-content: right !important;
}

.btn{
    background-color: purple !important;
}