.container{
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    overflow: hidden;
}

.featured-collection .products{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}